<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187343051216-j360n7036ndqp75puh1ovm59js3n748a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187343051216-j360n7036ndqp75puh1ovm59js3n748a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187343051216-5v5hneof8qs4lcpkie93rp09pgq92sir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8X9WwGEubuQokZi-Xjpz8-lYVjLW_Buk</string>
	<key>GCM_SENDER_ID</key>
	<string>187343051216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.zevance</string>
	<key>PROJECT_ID</key>
	<string>pickupanddrop-b3533</string>
	<key>STORAGE_BUCKET</key>
	<string>pickupanddrop-b3533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187343051216:ios:af02e7d51daf9b35a8c1d5</string>
	<key>DATABASE_URL</key>
	<string>https://pickupanddrop-b3533.firebaseio.com</string>
</dict>
</plist>